.awal {
    background-color: rgb(87, 84, 84);
    margin-top: -85px;  
    height: 90px;  
    //contoh scss//  
 h1{
        color: rgb(10, 10, 10);
        font-size: 25px;
        margin-left: 1000px;
        height: 0px;
        width: 220px;
        padding-top: 50px;
    span{

    }
 }
}
.awal h1 span{
    color: aqua;
    margin-left: 15px;
 }
.awal img{
    height: 100px;
    margin-top: -67px;
    margin-left: -1418px;
}
//bagian 2//

.aku1 h1{
    display: inline-block;
}

.page2 h1{
    display: inline-block;
    background-color: black;
    height: 400px;
    width: 300px;
}